<div class="card">
    <div class="card-header">
      <div class="card-title">{{Restaurant.Brand}}</div>
    </div>
    <div class="card-body" style="height: 16em;">
      <img src="">
      <p class="card-text">{{Restaurant.Variety}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Style: {{Restaurant.Style}}</li>
      <li class="list-group-item">Country: {{Restaurant.Country}}</li>
      <li class="list-group-item">Star: {{Restaurant.Stars}}</li>
    </ul>
  </div>
    <div class="card-footer">{{Restaurant['Top Ten']}}</div>
  </div>
